APP_ADDR=:8080
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=inkconnect
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_SSLMODE=disable
SESSION_COOKIE_NAME=inkconnect_session
SESSION_DURATION_HOURS=24h
SIGNING_KEY_ENCRYPTION_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
SIGNING_KEY_ENCRYPTION_KEY_ID=local-dev-key-1
CHAT_ENCRYPTION_KEY=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=
S3_ENABLED=false
S3_ENDPOINT=127.0.0.1:9000
S3_PUBLIC_ENDPOINT=http://127.0.0.1:9000
S3_BUCKET=inkconnect-files
S3_REGION=us-east-1
S3_ACCESS_KEY=inkconnect
S3_SECRET_KEY=inkconnect_minio_dev_password
S3_USE_SSL=false
